beautifulsoup4==4.13.3
chromadb==0.6.3
classla==1.1.0
joblib==1.4.2
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.3
openai==1.66.2
python-dotenv==1.0.1
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
sentence_transformers==3.4.1
torch==2.5.1
transformers==4.49.0
